/*navigation bar*/
h1, a {
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
}

.calories {
    font-size: 30px;
}

body {
    flex-direction: column;
}

nav, main, section, article, aside, footer {
    padding: 10px;
    background: #fff;
}

header {
    display: flex;
    border: 1px solid black;
    margin: 10px;
    padding: 10px 20px;
    order: 1;
}

.header {
    margin: 0;
    padding: 0;
    gap: 600px;
}

.navigationbar {
    width: 100%;
    display: flex;
    margin-left: 20px;
    gap: 50px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.navigationbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Login page css */
.login-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    font-family: sans-serif;
}

.login-box { 
    border: 1px solid #000; 
    padding: 40px; 
    text-align: center; 
    width: 300px;
    border-radius: 5px; 
}

.login-box input { 
    display: block; 
    width: 90%; 
    margin: 5px auto; 
    padding: 5px; 
}

.login-box button { 
    padding: 5px 20px; 
    cursor: pointer; 
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    padding: 1px 10px;
}

.login-box label {
    display: block;
    font-weight: bold;
    font-size: 20px;
}

/* main container*/
.main_container {
    margin-top: 10px;
    border: 1px solid black;
    width: auto;
    height: 780px;
    order: 2;
}

/*footer*/
footer {
    border: 1px solid black;
    width: auto;
    height: 30px;
    margin-top: 5px;
    padding: 0;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    order: 3;
}

/*calorie-box*/
#calorie {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}


.calorie-box {
    margin-top: 15px;
    border: 1px solid black;
    width: 400px;
    height: 360px;
    text-align: center;
}

label, input, td, button, select {
    margin-top: 10px;

}

