h1 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header, nav, main, section, article, aside, footer {
    padding: 1rem;
    background: #fff;
}

header {
    display: flex;
    border: 1px solid black;
    margin: 10px;
    padding: 15px 20px;
}

.header {
    margin: 0;
    padding: 0;
    gap: 600px;
}

.navigationbar {
    width: 100%;
    display: flex;
    margin-left: 20px;
    gap: 50px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.navigationbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}